
  <!-- education Grid -->
  <section>
    <div class="section-marker" id="education"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase education-title">{{ 'EDUCATION.EDUCATION' | translate }}</h2>
        </div>
      </div>
      <div class="row education-row">
            <mat-card>
            <h4 >{{ 'EDUCATION.SA' | translate }}</h4>
            <p class="es text-muted">{{ 'EDUCATION.ORT' | translate}}</p>
            <a class="portfolio-link" href="http://www.ort.edu.ar/" target="_blank"> {{ 'SITE' | translate}}</a>
          </mat-card>
         
            <mat-card>
              <h4 class="es">{{ 'EDUCATION.ELECTRONICS' | translate }}</h4>
              <p class="es text-muted">{{ 'EDUCATION.LA_SALETTE' | translate}}</p>
              <a class="es portfolio-link" href="http://www.lasalette.com.ar/" target="_blank"> {{ 'SITE' | translate }}</a>
            </mat-card>
      </div>
    </div>
  </section>
