
@media only screen and (max-width: $screen-sm-max) {
  *[class^="col-xs-"],
  *[class^="col-sm-"],
  *[class*="col-xs-"],
  *[class*="col-sm-"] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@-ms-viewport{
  width: device-width;
}
input::-ms-clear {
  display: none;
}




