

  <!-- Feedback -->
  <section class="bg-light" id="feedback">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="es section-heading text-uppercase">{{ 'FEEDBACK.ABOUT' | translate }}</h2>
          <h3 class="section-subheading text-muted feedback-intro">{{ 'FEEDBACK.INTRO' | translate }}</h3>
        </div>
      </div>
      <div class="row">
        <!-- Feedback member -->
        <div class="col-sm-4">
          <div class="feedback-member">
            <img class="mx-auto rounded-circle" src="assets/img/team/1.png" alt="" data-toggle="modal" (click)="openDialog(1)">
            <!-- Partial feedback -->
            <p class="text-muted feedback-text">"Lucas is one of the nicest people I have worked with..."</p>
            <a class="portfolio-link" data-toggle="modal" (click)="openDialog(1)">
              {{ 'READ_MORE' | translate }}
            </a>
          </div>
        </div>
        <!-- Feedback member -->
        <div class="col-sm-4">
          <div class="feedback-member">
            <img class="mx-auto rounded-circle" src="assets/img/team/2.png" alt="" data-toggle="modal" (click)="openDialog(2)">
            <!-- Partial feedback -->
            <p class="text-muted feedback-text">"Lucas is very knowledgeable and has the unique skill of questioning everything that is
              unclear..."
            </p>
            <a class="portfolio-link feedback-text" data-toggle="modal" (click)="openDialog(2)">
                {{ 'READ_MORE' | translate }}
            </a>
          </div>
        </div>
        <!-- Feedback member -->
        <div class="col-sm-4">
          <div class="feedback-member">
            <img class="mx-auto rounded-circle" src="assets/img/team/3.png" alt="" data-toggle="modal" (click)="openDialog(3)">
            <!-- Partial feedback -->
            <p class="text-muted feedback-text">"Lucas is the epitome of the principle Catch Excellence..."</p>
            <a class="portfolio-link" data-toggle="modal" (click)="openDialog(3)">
                {{ 'READ_MORE' | translate }}
            </a>
          </div>
        </div>
        <!-- Feedback member -->
        <div class="col-sm-4">
          <div class="feedback-member">
            <img class="mx-auto rounded-circle" src="assets/img/team/4.png" alt="" data-toggle="modal" (click)="openDialog(4)">
            <!-- Partial feedback -->
            <p class="text-muted feedback-text">"The biggest thing I have noticed change in Lucas lately is that he is embracing his role
              a leader..."</p>
            <a class="portfolio-link" data-toggle="modal" (click)="openDialog(4)">
                {{ 'READ_MORE' | translate }}
            </a>
          </div>
        </div>
        <!-- Feedback member -->
        <div class="col-sm-4">
          <div class="feedback-member">
            <img class="mx-auto rounded-circle" src="assets/img/team/5.png" alt="" data-toggle="modal" (click)="openDialog(5)">
            <!-- Partial feedback -->
            <p class="text-muted feedback-text">"Lucas has the ability to learn new technologies very easily..."</p>
            <a class="portfolio-link" data-toggle="modal" (click)="openDialog(5)">
                {{ 'READ_MORE' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
