  <!-- Header -->
  <header class="masthead">
    <div class="intro-container">
      <div class="intro-text">
        <img class="img-profile" src="/assets/img/solstice-about.png" alt="">
        <div class="intro-heading text-uppercase">Lucas Guardado</div>
        <h3 class="born intro-lead-in">{{ 'HEADER.BORN' | translate }}</h3>
        <div class="intro-lead-in">{{ 'HEADER.INTRO' | translate }}</div>
        <a class="tell-me-more-btn en btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#education">{{ 'HEADER.TELL_ME_MORE' | translate }}</a>
      </div>
    </div>
  </header>