<nav class="navbar" [class.scrolling]="!isTopScroll">
  <a class="lucas d-xl-none" [class.top]="isTopScroll" [routerLink]="'/'" [fragment]="'top'">Lucas Guardado</a>
  <a id="education-ref" [routerLink]="'/'" [fragment]="'education'"
    class="text-uppercase navbar-option d-none d-md-block">{{ "EDUCATION.EDUCATION" | translate }}</a>
  <a id="skills-ref" [routerLink]="'/'" [fragment]="'skills'"
    class="text-uppercase navbar-option d-none d-md-block">{{ "NAVBAR.SKILLS" | translate }}</a>
  <a id="experience-ref" [routerLink]="'/'" [fragment]="'about'"
    class="text-uppercase navbar-option d-none d-md-block">{{ "NAVBAR.EXPERIENCE" | translate }}</a>
  <a id="feedback-ref" [routerLink]="'/'" [fragment]="'feedback'"
    class="text-uppercase navbar-option d-none d-md-block">{{ "NAVBAR.FEEDBACK" | translate }}</a>
  <a id="contact-ref" [routerLink]="'/'" [fragment]="'contact'"
    class="text-uppercase navbar-option d-none d-md-block">{{ "NAVBAR.CONTACT" | translate }}</a>
  <a id="download-ref" [routerLink]="'/'" [fragment]="'print'"
    class="text-uppercase navbar-option d-none d-md-block">{{ "NAVBAR.DOWNLOAD" | translate }}</a>

  <div>
    <button mat-button [matMenuTriggerFor]="menu" class="menu-button d-inline-block d-md-none">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="'/'" [fragment]="'education'"
        class="text-uppercase navbar-option">{{ "EDUCATION.EDUCATION" | translate }}</button>
      <button mat-menu-item  [routerLink]="'/'" [fragment]="'skills'"
        class="text-uppercase navbar-option">{{ "NAVBAR.SKILLS" | translate }}</button>
      <button mat-menu-item  [routerLink]="'/'" [fragment]="'about'"
        class="text-uppercase navbar-option">{{ "NAVBAR.EXPERIENCE" | translate }}</button>
      <button mat-menu-item  [routerLink]="'/'" [fragment]="'feedback'"
        class="text-uppercase navbar-option">{{ "NAVBAR.FEEDBACK" | translate }}</button>
      <button mat-menu-item  [routerLink]="'/'" [fragment]="'contact'"
        class="text-uppercase navbar-option">{{ "NAVBAR.CONTACT" | translate }}</button>
      <button mat-menu-item [routerLink]="'/'" [fragment]="'print'"
        class="text-uppercase navbar-option">{{ "NAVBAR.DOWNLOAD" | translate }}</button>
    </mat-menu>
    <img (click)="imageClick()" class="lang-button" src="{{ url }}" />
  </div>
</nav>