 <!-- Skills -->
 <section class="bg-light" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ 'SKILLS.SKILLS' | translate}}</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">{{ 'SKILLS.FE_BE' | translate}}</h4>
        <p class="text-muted skill">{{ 'SKILLS.ANGULAR' | translate}}</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
          </div>
        </div>
        <p class="text-muted skill">{{ 'SKILLS.HTML_CSS' | translate}}</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
          </div>
        </div>
        <p class="text-muted skill">{{ 'SKILLS.JAVASCRIPT' | translate}}</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
          </div>
        </div>
        <p class="text-muted skill">{{ 'SKILLS.BOOTSTRAP' | translate}}</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
          </div>
        </div>
        <p class="text-muted skill">{{ 'SKILLS.GIT' | translate}}</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
          </div>
        </div>
        <p class="text-muted skill">{{ 'SKILLS.IONIC' | translate}}</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
          </div>
        </div>
        <p class="text-muted skill">{{ 'SKILLS.MULESOFT' | translate}}</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
          </div>
        </div>
        <p class="text-muted skill">{{ 'SKILLS.REACT' | translate}}</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
          </div>
        </div>
        <p class="text-muted skill">{{ 'SKILLS.ANDROID' | translate}}</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width:55%">
          </div>
        </div>
        <p class="text-muted skill">{{ 'SKILLS.TDD' | translate}}</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
          </div>
        </div>
        <p class="text-muted skill">{{ 'SKILLS.NODE' | translate}}</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
          </div>
        </div>
      </div>
      <div class="col-md-4 knowledge">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-calendar fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">{{ 'SKILLS.SCRUM' | translate}}</h4>
        <p class="text-muted">{{ 'SKILLS.SCRUM_DETAILS' | translate}}</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-language fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="es service-heading">{{ 'SKILLS.ENGLISH' | translate}}</h4>
        <p class="text-muted">{{ 'SKILLS.ENGLISH_DETAILS' | translate}}</p>
      </div>
    </div>
  </div>
</section>
