@import '../../css/styles/variables';

.image-preview {
  width: 500px;
  max-width: 100%;
}
.bold {
  font-weight: $font-bold;
}
.title {
  font-size: 40px;
}

.website {
  font-size: 20px;
}

.modal-dialog-content {
  max-height: 90vw;
}